django==4.2.9
python-decouple
pillow
djangorestframework

# third party modules
markdown
django-filter
django-summernote
django-taggit
django-robots
django-debug-toolbar
django-simple-captcha
django-multi-captcha-admin
drf-yasg[validation]
djangorestframework-simplejwt
djoser
django-cors-headers

# deployment modules
gunicorn

# email third party modules
django-mail-templated

# refactoring and tests
black
flake8
pytest
pytest-django
Faker

#background proccess and cashe
celery
django-celery-beat
redis
django-redis